$themes: (
    default: (
        primaryColor: #3aafa9,
        secondaryColor: #feffff,
        tertiaryColor: #ababab,
        headerColor: rgb(23, 37, 42),
        overlayDark: rgb(23, 37, 42, 0.75),
        overlayLight: rgb(255, 255, 255, 0.6),
        textColor: #333,
        textColorLight: #999,
        textColorLighter: #b9b9b9,
        textColorLightest: #feffff,
        btnPrimaryBgColor: #3aafa9,
        btnPrimaryColor: #feffff,
        btnTransparentBgColor: rgb(255, 255, 255, 0.1),
        btnTransparentColor: #feffff,
    ),
    light: (
        primaryColor: #3aafa9,
        secondaryColor: #feffff,
        tertiaryColor: #ababab,
        headerColor: rgb(23, 37, 42),
        overlayDark: rgb(23, 37, 42, 0.75),
        overlayLight: rgb(255, 255, 255, 0.6),
        textColor: #333,
        textColorLight: #999,
        textColorLighter: #b9b9b9,
        textColorLightest: #feffff,
        btnPrimaryBgColor: #3aafa9,
        btnPrimaryColor: #feffff,
        btnTransparentBgColor: rgb(255, 255, 255, 0.1),
        btnTransparentColor: #feffff,
    ),
    dark: (
        primaryColor: #5f3aaf,
        secondaryColor: #feffff,
        tertiaryColor: #ababab,
        headerColor: #5f3aaf,
        overlayDark: rgb(23, 37, 42, 0.75),
        overlayLight: rgb(255, 255, 255, 0.6),
        textColor: #333,
        textColorLight: #999,
        textColorLighter: #b9b9b9,
        textColorLightest: #feffff,
        btnPrimaryBgColor: #3aafa9,
        btnPrimaryColor: #feffff,
        btnTransparentBgColor: rgb(255, 255, 255, 0.1),
        btnTransparentColor: #feffff,
    ),
);
