@use '../01-config/variables';

* {
    color: inherit;
}

html {
    font-size: 17px;
}

body {
    font-family: $main-font;
    line-height: 2rem;
    font-weight: 300;
}

h3 {
    font-size: 1.75rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

p {
    margin-top: 0;
}
